*{
    margin: 0%;
    padding: 0%;
}
 
#head{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color:cyan;
}
#middle{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}
 

#aside1{
    width: 200px;
    background-color: limegreen;
    height: 200px;
    text-align: center;
}
#text{
    width: 1400px;
    background-color: rgb(50, 50, 124);
    color: white;
}
#aside2{
    width: 100px;
    background-color: Yellow;
}
#footer{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 70px;
}
 
@media (max-width:600px) {
    #total{
        display: flex; flex-direction: column; 
        
    }
    #middle{
        display: flex; 
        flex-direction: column;
    }
    #text{
        width: 100vw;
    }
    #aside1{
        width: 100vw;
    }
    #aside2{
        width: 100vw;
    }
}

@media only screen and (max-width: 799px) and (min-width:601px){
    
    #middle{
     flex-wrap: wrap;
      
    }
}